.hamburger-container {
  position: relative;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger-container > .toggler {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.hamburger-container > .hamburger {
  width: 100%;
  height: fit-content;
}

/* Hamburger Line */
.hamburger-container > .hamburger > label {
  position: relative;
  background-color: rgb(97, 97, 97);
  width: 100%;
  height: 2px;
  display: inline-block;
  border-radius: 1px;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.hamburger-container > .hamburger > label::before,
.hamburger-container > .hamburger > label::after {
  position: absolute;
  content: "";
  background-color: inherit;
  width: 100%;
  height: 2px;
  display: inline-block;
  border-radius: 1px;
  top: -6px;
}

/* Moves Line Down */
.hamburger-container > .hamburger > label::after {
  top: 6px;
}

/* Toggler Animation */
.hamburger-container > .toggler:checked + .hamburger > label {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.hamburger-container > .toggler:checked + .hamburger > label:before,
.hamburger-container > .toggler:checked + .hamburger > label:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.hamburger-container > .toggler:checked:hover + .hamburger > label {
  transform: rotate(225deg);
}

/* Menu Wrapper */
.menu-wrapper {
  transition: 1s;
  position: absolute;
  background: transparent;
}

/* Layer */
.menu-layer {
  position: absolute;
  background-color: black;
  opacity: 0;
  width: 0;
  min-height: 0;
  left: 0;
  transition: opacity 0.3s ease-in;
}

/* Menu */
.menu {
  transform: translateX(200vw);
  position: absolute;
  background-color: white;
  width: 80vw;
  min-height: 100vh;
  right: 0;
  font-size: 1.3rem;
  color: black;
  transition: 0.3s ease-in;
}

/* Menu Layer Show */
.menu-wrapper.show .menu-layer {
  opacity: 0.4;
  width: 100vw;
  min-height: 100vh;
}

/* Menu Show */
.menu-wrapper.show .menu {
  transform: translateX(100vw);
}

/* Menu Inner Level */
.menu.inner-level {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.menu-item {
  padding: 1rem 2rem;
}

.menu-item label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-item-header {
  background-color: #0000000d;
}

.menu-item-header label {
  display: block;
  position: relative;
  text-align: center;
}

.menu-item-header label > i {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.menu-item label > input {
  position: absolute;
  width: 0;
  height: 0;
}

.menu-item label > i {
  font-size: 1rem;
  opacity: 0.7;
}

.multi-level-input {
  width: 0;
  height: 0;
  position: absolute;
}

/* Show Inner Level Menu By Checkbox */
.multi-level-input:checked + .menu.inner-level {
  transform: translateX(0);
}
